This notebook is about
- Delete the last 3 rows.
- Deviding the data into descriptors and properties files.

<a id="import-libraries"></a>
# 1. Import Libraries & Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel("../data/raw/Skin Permeation.xlsx")

In [3]:
data.head(3)

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,54.0,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4,-2.090000,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,421.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537
2,422.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [4]:
data.shape

(449, 241)

In [5]:
# removing last 3 rows
data = data.iloc[:-3, :]

In [6]:
data.shape

(446, 241)

In [7]:
data.isna().sum()

No          0
Compound    0
SMILES      0
CAS No      4
set         0
           ..
ATSp3       0
ATSp4       0
ATSp5       0
nB          0
MolIP       0
Length: 241, dtype: int64

In [8]:
data.isna().sum().sum()

380

In [9]:
# there are null values
for col in data.columns:
    if data[col].isna().sum() > 0:
        print(col, data[col].isna().sum())

CAS No 4
MVh 6
Skin Integrity testk 147
Skin Selection criteria 211
Kier3 12

In [10]:
# getting a copy of the data to do some cleaning
clean_data = data.copy()
clean_data.shape

(446, 241)

In [11]:
# finding columns with one value for example
# we have 52 columns with 0's
for col in data.columns:
    if data[col].nunique() == 1:
        print(col, data[col].unique())
        clean_data.drop(col, axis=1, inplace=True)

nRings4 [0.]
nRings7 [0.]
nRings8 [0.]
nRings9 [0.]
khs.sLi [0.]
khs.ssBe [0.]
khs.ssssBe [0.]
khs.ssBH [0.]
khs.sssB [0.]
khs.ssssB [0.]
khs.tCH [0.]
khs.sNH3 [0.]
khs.ssNH2 [0.]
khs.dNH [0.]
khs.sssNH [0.]
khs.ssssN [0.]
khs.sSiH3 [0.]
khs.ssSiH2 [0.]
khs.sssSiH [0.]
khs.ssssSi [0.]
khs.sPH2 [0.]
khs.ssPH [0.]
khs.sssP [0.]
khs.sssssP [0.]
khs.sSH [0.]
khs.ssS [0.]
khs.dssS [0.]
khs.sGeH3 [0.]
khs.ssGeH2 [0.]
khs.sssGeH [0.]
khs.ssssGe [0.]
khs.sAsH2 [0.]
khs.ssAsH [0.]
khs.sssAs [0.]
khs.sssdAs [0.]
khs.sssssAs [0.]
khs.sSeH [0.]
khs.dSe [0.]
khs.ssSe [0.]
khs.aaSe [0.]
khs.dssSe [0.]
khs.ddssSe [0.]
khs.sSnH3 [0.]
khs.ssSnH2 [0.]
khs.sssSnH [0.]
khs.ssssSn [0.]
khs.sI [0.]
khs.sPbH3 [0.]
khs.ssPbH2 [0.]
khs.sssPbH [0.]
khs.ssssPb [0.]
C2SP1 [0.]

In [12]:
properties_df = clean_data.iloc[:, 0:19]
properties_df.head(2)

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,MVh,Texpi,Skin thicknessj,Skin Integrity testk,Skin Selection criteria,logkpl,logJmaxm
0,54.0,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,94.4,298.0,0.100,Repeating the permeation experiment,Flux comparison,-2.250000,-6.250000
1,421.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,118.9,305.0,0.128,transepidermal electrical resistance,>4.26 kΩ,-1.892027,-7.478245

In [13]:
cols_to_drop = ['No', 'Compound', 'SMILES', 'CAS No',
 'MVh', 'Skin Integrity testk', 'Skin Selection criteria', 'logJmaxm']

properties_df.drop(cols_to_drop, axis=1, inplace=True)

In [14]:
properties_df.head()

,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,Texpi,Skin thicknessj,logkpl
0,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,298.0,0.100,-2.250000
1,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.128,-1.892027
2,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.075,-1.545120
3,t,108.10,1.04,258.0,-3.39794,-2.357940,1.0,1.0,298.0,0.100,-2.222060
4,t,184.27,3.67,183.0,-6.185314,-2.515314,0.0,2.0,305.0,0.128,-1.824345

In [15]:
properties_df.shape

(446, 11)

In [16]:
# seeing which columns has null values
for col in properties_df.columns:
    if (properties_df[col].isna().sum() > 0):
        print(col)

In [17]:
properties_df.columns

Index(['set', 'MWa', 'logKowb', 'Mptc', 'LogSaqd', 'LogSoce', 'Hdf', 'Hag',
       'Texpi', 'Skin thicknessj', 'logkpl'],
      dtype='object')

In [18]:
properties_df.head(3)

,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,Texpi,Skin thicknessj,logkpl
0,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,298.0,0.100,-2.250000
1,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.128,-1.892027
2,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.075,-1.545120

In [19]:
properties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   set              446 non-null    object
 1   MWa              446 non-null    float64
 2   logKowb          446 non-null    float64
 3   Mptc             446 non-null    float64
 4   LogSaqd          446 non-null    object
 5   LogSoce          446 non-null    float64
 6   Hdf              446 non-null    float64
 7   Hag              446 non-null    float64
 8   Texpi            446 non-null    float64
 9   Skin thicknessj  446 non-null    float64
 10  logkpl           446 non-null    float64
dtypes: float64(9), object(2)
memory usage: 38.5+ KB

In [20]:
# saving the data
properties_df.to_csv('../data/processed/properties.csv', index=False)

### Descriptors

In [36]:
compounds = clean_data.iloc[:, 1]
compounds

0               p-Nitrophenol; 4-nitrophenol
1                             Benzyl bromide
2                             Benzyl bromide
3                             Benzyl alcohol
4                      2-Ethylhexyl acrylate
                       ...
441                            Methylparaben
442    1-(diphenylmethyl)-4-methylpiperazine
443     1-(diphenylmethyl)-4-ethylpiperazine
444    1-(diphenylmethyl)-4-propylpiperazine
445     1-(diphenylmethyl)-4-butylpiperazine
Name: Compound, Length: 446, dtype: object

In [37]:
descriptors_df = clean_data.iloc[:, 17:]
descriptors_df.head(2)

,logkpl,logJmaxm,Reference,SMILES.1,MLogP,nSmallRings,nAromRings,nRingBlocks,nAromBlocks,nRings3,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,-2.250000,-6.250000,(Roberts et al. 1977),C1=CC(=CC=C1[N+](=O)[O-])O,1.68,1.0,1.0,1.0,1.0,0.0,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,-1.892027,-7.478245,(Ellison et al. 2020),C1=CC=C(C=C1)CBr,2.12,1.0,1.0,1.0,1.0,0.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [38]:
descriptors_df.drop(['SMILES.1', 'Reference', 'logJmaxm'], axis=1, inplace=True)

In [39]:
descriptors_df.shape

(446, 169)

In [40]:
descriptors_df.head(2)

,logkpl,MLogP,nSmallRings,nAromRings,nRingBlocks,nAromBlocks,nRings3,nRings5,nRings6,WPATH,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,-2.250000,1.68,1.0,1.0,1.0,1.0,0.0,0.0,1.0,120.0,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,-1.892027,2.12,1.0,1.0,1.0,1.0,0.0,0.0,1.0,64.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [46]:
compound_descriptors = pd.concat([compounds, descriptors_df], axis=1)
compound_descriptors

,Compound,logkpl,MLogP,nSmallRings,nAromRings,nRingBlocks,nAromBlocks,nRings3,nRings5,nRings6,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,p-Nitrophenol; 4-nitrophenol,-2.250000,1.68,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,Benzyl bromide,-1.892027,2.12,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537
2,Benzyl bromide,-1.545120,2.12,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537
3,Benzyl alcohol,-2.222060,2.12,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,3.111111,1.800000,6.0,343.647962,360.656857,405.171149,284.539313,96.667566,8.0,8.556987
4,2-Ethylhexyl acrylate,-1.824345,2.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.591716,7.100592,0.0,588.801978,590.026029,630.062246,602.270174,511.259323,12.0,8.506996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Methylparaben,-1.962574,2.01,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,4.132653,2.500000,6.0,464.519672,506.556888,627.177748,531.515737,294.945868,11.0,5.692748
442,1-(diphenylmethyl)-4-methylpiperazine,-2.522879,3.22,3.0,2.0,3.0,2.0,0.0,0.0,3.0,...,7.319857,3.814404,12.0,1463.523298,1699.137067,2304.497980,2369.611558,2174.448135,22.0,7.403870
443,1-(diphenylmethyl)-4-ethylpiperazine,-1.356547,3.33,3.0,2.0,3.0,2.0,0.0,0.0,3.0,...,8.022222,4.050000,12.0,1541.419630,1786.333801,2417.003610,2524.032167,2325.726872,23.0,7.382447
444,1-(diphenylmethyl)-4-propylpiperazine,-2.356547,3.44,3.0,2.0,3.0,2.0,0.0,0.0,3.0,...,8.740895,4.521118,12.0,1610.633222,1860.512728,2504.980696,2626.093664,2466.174955,24.0,7.371735
445,1-(diphenylmethyl)-4-butylpiperazine,-2.301030,3.55,3.0,2.0,3.0,2.0,0.0,0.0,3.0,...,9.474609,4.988662,12.0,1674.959600,1927.463849,2579.327037,2708.551213,2561.056205,25.0,7.366379

In [42]:
# seeing which columns has null values
for col in descriptors_df.columns:
    if (descriptors_df[col].isna().sum() > 0):
        print(col)

Kier3

In [43]:
descriptors_df['Kier3'].describe()

count    434.000000
mean       3.290126
std        2.318044
min        0.000000
25%        1.960840
50%        2.587659
75%        3.650647
max       19.058824
Name: Kier3, dtype: float64

In [44]:
descriptors_df['Kier3'].fillna(0, inplace=True)

In [47]:
compound_descriptors.to_csv('../data/processed/descriptors.csv', index=False)

In [45]:
#descriptors_df.to_csv('../data/processed/descriptors.csv', index=False)

In [77]:
properties_and_descriptors_df = pd.concat([properties_df.iloc[:, :-1], descriptors_df], axis=1)
properties_and_descriptors_df.head(2)

,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,Texpi,Skin thicknessj,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,298.0,0.100,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.128,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [78]:
properties_and_descriptors_df.shape

(446, 179)

In [79]:
properties_and_descriptors_df.isna().sum().sum()

0

In [81]:
properties_and_descriptors_df.to_csv('../data/processed/properties_descriptors.csv', index=False)